.App {
  width: 100%;
    height: 100vh; /* altura del navegador */
    padding-top: 10px;
    background-color: #132C33; /* #152D35; */
    display: flex;  /* flex para que esté centrado con justify y align */
    flex-wrap: wrap;
    justify-content: center; /* horizontal */
    align-items: center;  /* vertical */
    flex-direction: column;
  font-family: 'digital';
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.search-engine {
  margin-top: 12px;
  padding: 0;
  background-color: #132C33;
  border-radius: 3px;
}

.search-engine .input {
  background-color: #132C33;
  border: 1px solid cornsilk;
  width: 260px;
  padding: 7px;
  border-radius: 7px;
  color: cornsilk;
}

.search-engine .input::placeholder {
  color: #345B63;
}

.search-engine .button {
  background-color: cornsilk;
  color: #132C33;
  padding: 7px;
  margin-left: 3px;
  border: 1px solid cornsilk;
  border-radius: 7px;
  flex-direction: column;
  transition: ease-in-out 0.3s;
  text-align: center;
  margin-bottom: 12px;
}

.search-engine .button:hover {
  background-color: #132C33;
  color: cornsilk;
}

.search-engine .button:active {
  box-shadow: 2px 2px 5px cornsilk;
}

.search-engine .button:active {
  box-shadow: 2px 2px 5px cornsilk;
}

.weather {
  display: block;
  margin: 0 auto;
}